<form class="{{cssClass}}" autocomplete="off">
 <section class="main-sheet">
    <section class="title-section">
        <div class="top-section">
            <div class="podstawowe-dane">
                <div class="ksywka">
                    <label class="top-section-label-center">{{localize "chlopcy.ksywka"}}</label>
                    <input type="text" name="name" value="{{actor.name}}">
                </div>
                <div class="dane">
                <div class="wiek row">
                    <label class="top-section-label">{{localize "chlopcy.wiek"}}</label>
                    <input class="wiek" type="number" name="system.wiek" value="{{system.wiek}}">
                </div>
                <div class="zdrowie row">
                    <label class="top-section-label">{{localize "chlopcy.zdrowie"}}</label>
                    <div class="zdrowie-wartości">
                        <input class="zdrowie" type="number" name="system.zdrowie.akualne" value="{{system.zdrowie.akualne}}">
                        <p>/</p>
                        <input class="zdrowie" type="number" name="system.zdrowie.max" value="{{system.zdrowie.max}}">
                    </div>
                </div>
                <div class="twardziel row">
                    <label class="top-section-label">{{localize "chlopcy.trwardziel"}}</label>
                    <div class="twardziel-wartości">
                    <input class="twardziel" type="number" name="system.twardziel.aktualne" value="{{system.twardziel.aktualne}}">
                    <p>/</p>
                    <input class="twardziel" type="number" name="system.twardziel.max" value="{{system.twardziel.max}}">        
                    </div>
                </div>
                <div class="stan row">
                    <label class="stany-label">{{localize "chlopcy.stan.etykieta"}}</label>
                    <div class="trzezwy">
                        <label class="top-section-label stany">{{localize "chlopcy.stan.trzezwy"}}</label>
                        <input type="checkbox" class="stan" name="system.stan" value= 1>
                    </div>
                    <div class="upojony">
                        <label class="top-section-label stany">{{localize "chlopcy.stan.upojony"}}</label>
                        <input type="checkbox" class="stan" name="system.stan" value= 2>
                    </div>
                    <div class="zgon">
                        <label class="top-section-label stany">{{localize "chlopcy.stan.zgon"}}</label>
                        <input type="checkbox" class="stan" name="system.stan" value= 3>
                    </div>
                </div>
                </div>
            </div>
            <div class="obrazek">
                <label class="top-section-label-center">{{localize "chlopcy.portrecik"}}</label>
                <img class="borderless" src="{{actor.img}}" data-edit="img">
            </div>
            <div class="inne-dane">
                <label class="top-section-label-center">{{localize "chlopcy.bangarang.etykieta"}}</label>
                <div class="bangarang-dane">
                    
                    <div class="brawura">
                        <label class="top-section-label-bangarang">{{localize "chlopcy.bangarang.brawura"}}</label>
                        <div class="bangarang-check-box">
                        <input class="bangarang" type="checkbox" name="system.bangarang.brawura" value=1 {{#if (gte system.bangarang.brawura 1)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.brawura" value=2 {{#if (gte system.bangarang.brawura 2)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.brawura" value=3 {{#if (gte system.bangarang.brawura 3)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.brawura" value=4 {{#if (gte system.bangarang.brawura 4)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.brawura" value=5 {{#if (gte system.bangarang.brawura 5)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.brawura" value=6 {{#if (gte system.bangarang.brawura 6)}}chceked{{/if}}>
                        </div>
                    </div>
                    <div class="dowcip">
                        <label class="top-section-label-bangarang">{{localize "chlopcy.bangarang.dowcip"}}</label>
                        <div class="bangarang-check-box">
                        <input class="bangarang" type="checkbox" name="system.bangarang.dowcip" value=1 {{#if (gte system.bangarang.dowcip 1)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.dowcip" value=2 {{#if (gte system.bangarang.dowcip 2)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.dowcip" value=3 {{#if (gte system.bangarang.dowcip 3)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.dowcip" value=4 {{#if (gte system.bangarang.dowcip 4)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.dowcip" value=5 {{#if (gte system.bangarang.dowcip 5)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.dowcip" value=6 {{#if (gte system.bangarang.dowcip 6)}}chceked{{/if}}>
                        </div>
                    </div>
                    <div class="finezja">
                        <label class="top-section-label-bangarang">{{localize "chlopcy.bangarang.finezja"}}</label>
                        <div class="bangarang-check-box">                  
                        <input class="bangarang" type="checkbox" name="system.bangarang.finezja" value=1 {{#if (gte system.bangarang.finezja 1)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.finezja" value=2 {{#if (gte system.bangarang.finezja 2)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.finezja" value=3 {{#if (gte system.bangarang.finezja 3)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.finezja" value=4 {{#if (gte system.bangarang.finezja 4)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.finezja" value=5 {{#if (gte system.bangarang.finezja 5)}}chceked{{/if}}>
                        <input class="bangarang" type="checkbox" name="system.bangarang.finezja" value=6 {{#if (gte system.bangarang.finezja 6)}}chceked{{/if}}>
                        </div>
                    </div>
                </div>
                <div class="xp">
                    <label class="top-section-label rozwoj">{{localize "chlopcy.rozwoj"}}</label>
                    <input class="xp" type="checkbox" name="system.xp" value=1 {{#if (gte system.xp 1)}}chceked{{/if}}>
                    <input class="xp" type="checkbox" name="system.xp" value=2 {{#if (gte system.xp 2)}}chceked{{/if}}>
                    <input class="xp" type="checkbox" name="system.xp" value=3 {{#if (gte system.xp 3)}}chceked{{/if}}>
                    <input class="xp" type="checkbox" name="system.xp" value=4 {{#if (gte system.xp 4)}}chceked{{/if}}>
                    <input class="xp" type="checkbox" name="system.xp" value=5 {{#if (gte system.xp 5)}}chceked{{/if}}>
                    <input class="xp" type="checkbox" name="system.xp" value=6 {{#if (gte system.xp 6)}}chceked{{/if}}>
                    <input class="xp" type="checkbox" name="system.xp" value=7 {{#if (gte system.xp 7)}}chceked{{/if}}>
                    <input class="xp" type="checkbox" name="system.xp" value=8 {{#if (gte system.xp 8)}}chceked{{/if}}>
                </div>
            </div>
        </div>
     

    </section>
</section>
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="glowna" data-tab="glowna">{{localize "chlopcy.glowna"}}</a>
      <a class="kurta-i-wspomnienia" data-tab="kurta-i-wspomnienia">{{localize "chlopcy.kurta-i-wspomnienia"}}</a>    
    </nav>
<section class="sheet-body">
<section class="bottom-section">
   
         <div class="tab glowna flexcol" data-group="primary" data-tab="glowna">
            {{> "systems/chlopcy/tameplates/actor/section/glowna.hbs"}}
 
        </div>
         <div class="tab kurta-i-wspomnienia flexcol" data-group="primary" data-tab="kurta-i-wspomnienia">
            {{> "systems/chlopcy/tameplates/actor/section/kurta-i-wspomnienia.hbs"}}
        </div>
        

 </section>
 </section>
 
</form> 