<form class="{{cssClass}}" autocomplete="off">
 <section class="main-sheet">
    <section class="title-section">
        <div class="top-section">
            <div class="podstawowe-dane">
                <div class="ksywka">
                    <label class="top-section-label-center">{{localize "chlopcy.ksywka"}}</label>
                    <input type="text" name="name" value="{{actor.name}}">
                </div>
                <div class="dane">
                <div class="wiek row">
                    <label class="top-section-label">{{localize "chlopcy.wiek"}}</label>
                    <input class="wiek" type="number" name="system.wiek" value="{{system.wiek}}">
                </div>
                <div class="zdrowie row">
                    <label class="top-section-label">{{localize "chlopcy.zdrowie"}}</label>
                    <div class="zdrowie-wartości">
                        <input class="zdrowie" type="number" name="system.zdrowie.aktualne" value="{{system.zdrowie.aktualne}}">
                        <p>/</p>
                        <input class="zdrowie" type="number" name="system.zdrowie.max" value="{{system.zdrowie.max}}">
                    </div>
                </div>
                <div class="twardziel row">
                    <label class="top-section-label">{{localize "chlopcy.trwardziel"}}</label>
                    <div class="twardziel-wartości">
                    <input class="twardziel" type="number" name="system.twardziel.aktualne" value="{{system.twardziel.aktualne}}">
                    <p>/</p>
                    <input class="twardziel" type="number" name="system.twardziel.max" value="{{system.twardziel.max}}">        
                    </div>
                </div>
                <div class="stan row">
                    <label class="stany-label">{{localize "chlopcy.stan.etykieta"}}</label>
                    <div class="trzezwy">
                        <label class="top-section-label stany">{{localize "chlopcy.stan.trzezwy"}}</label>
                        <input type="checkbox" class="stan"  value=1 {{#if (gte system.stan 1)}}checked{{/if}}>
                    </div>
                    <div class="upojony">
                        <label class="top-section-label stany">{{localize "chlopcy.stan.upojony"}}</label>
                        <input type="checkbox" class="stan"  value= 2 {{#if (gte system.stan 2)}}checked{{/if}}>
                    </div>
                    <div class="zgon">
                        <label class="top-section-label stany">{{localize "chlopcy.stan.zgon"}}</label>
                        <input type="checkbox" class="stan"  value= 3 {{#if (eq system.stan 3)}}checked{{/if}}>
                    </div>
                </div>
                </div>
            </div>
            <div class="obrazek">
                <label class="top-section-label-center">{{localize "chlopcy.portrecik"}}</label>
                <img class="borderless" src="{{actor.img}}" data-edit="img">
            </div>
            <div class="inne-dane">
                <label class="top-section-label-center">{{localize "chlopcy.bangarang.etykieta"}}</label>
                <div class="bangarang-dane">
                    
                    <div class="brawura">
                        <label class="top-section-label-bangarang">{{localize "chlopcy.bangarang.brawura"}}</label>
                        <div class="bangarang-check-box">
                        <input class="bangarang" type="checkbox" id="brawura" value=1 {{#if (gte system.bangarang.brawura 1)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="brawura" value=2 {{#if (gte system.bangarang.brawura 2)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="brawura" value=3 {{#if (gte system.bangarang.brawura 3)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="brawura" value=4 {{#if (gte system.bangarang.brawura 4)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="brawura" value=5 {{#if (gte system.bangarang.brawura 5)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="brawura" value=6 {{#if (gte system.bangarang.brawura 6)}}checked{{/if}}>
                        </div>
                    </div>
                    <div class="dowcip">
                        <label class="top-section-label-bangarang">{{localize "chlopcy.bangarang.dowcip"}}</label>
                        <div class="bangarang-check-box">
                        <input class="bangarang" type="checkbox" id="dowcip" value=1 {{#if (gte system.bangarang.dowcip 1)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="dowcip" value=2 {{#if (gte system.bangarang.dowcip 2)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="dowcip" value=3 {{#if (gte system.bangarang.dowcip 3)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="dowcip" value=4 {{#if (gte system.bangarang.dowcip 4)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="dowcip" value=5 {{#if (gte system.bangarang.dowcip 5)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="dowcip" value=6 {{#if (gte system.bangarang.dowcip 6)}}checked{{/if}}>
                        </div>
                    </div>
                    <div class="finezja">
                        <label class="top-section-label-bangarang">{{localize "chlopcy.bangarang.finezja"}}</label>
                        <div class="bangarang-check-box">                  
                        <input class="bangarang" type="checkbox" id="finezja" value=1 {{#if (gte system.bangarang.finezja 1)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="finezja" value=2 {{#if (gte system.bangarang.finezja 2)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="finezja" value=3 {{#if (gte system.bangarang.finezja 3)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="finezja" value=4 {{#if (gte system.bangarang.finezja 4)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="finezja" value=5 {{#if (gte system.bangarang.finezja 5)}}checked{{/if}}>
                        <input class="bangarang" type="checkbox" id="finezja" value=6 {{#if (gte system.bangarang.finezja 6)}}checked{{/if}}>
                        </div>
                    </div>
                </div>
                <div class="xp">
                    <label class="top-section-label rozwoj" name="system.xp">{{localize "chlopcy.rozwoj"}}</label>
                    <input class="xp" type="checkbox"  value=1 {{#if (gte system.xp 1)}}checked{{/if}}>
                    <input class="xp" type="checkbox"  value=2 {{#if (gte system.xp 2)}}checked{{/if}}>
                    <input class="xp" type="checkbox"  value=3 {{#if (gte system.xp 3)}}checked{{/if}}>
                    <input class="xp" type="checkbox"  value=4 {{#if (gte system.xp 4)}}checked{{/if}}>
                    <input class="xp" type="checkbox"  value=5 {{#if (gte system.xp 5)}}checked{{/if}}>
                    <input class="xp" type="checkbox"  value=6 {{#if (gte system.xp 6)}}checked{{/if}}>
                    <input class="xp" type="checkbox"  value=7 {{#if (gte system.xp 7)}}checked{{/if}}>
                    <input class="xp" type="checkbox"  value=8 {{#if (gte system.xp 8)}}checked{{/if}}>
                </div>
            </div>
        </div>
     

    </section>
</section>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="glowna" data-tab="glowna">{{localize "chlopcy.glowna"}}</a>
        <a class="kurta-i-wspomnienia" data-tab="kurta-i-wspomnienia">{{localize "chlopcy.kurta-i-wspomnienia"}}</a>
        <a class="wiezi" data-tab="wiezi">{{localize "chlopcy.wiezi"}}</a>     
    </nav>
<section class="sheet-body">
<section class="bottom-section">
   
         <div class="tab glowna flexcol" data-group="primary" data-tab="glowna">
            {{> "systems/chlopcy/tameplates/actor/section/glowna.hbs"}}
 
        </div>
         <div class="tab kurta-i-wspomnienia flexcol" data-group="primary" data-tab="kurta-i-wspomnienia">
            {{> "systems/chlopcy/tameplates/actor/section/kurta-i-wspomnienia.hbs"}}
        </div>
         <div class="tab wiezi" data-group="primary" data-tab="wiezi">
            {{> "systems/chlopcy/tameplates/actor/section/wiezi.hbs"}}
            
        </div>

 </section>
 </section>
 
</form> 