<form class="{{cssClass}}" autocomplete="off">
    <div class="nazwa-tykacza">
        <label class="top-section-label-center">{{localize "chlopcy.nazwaTykacza"}}</label>
        <input type="text" name="name" value="{{actor.name}}">
    </div>
    <div class="tykacz">
        <div class="dane-tykacza">
            <div class="czas">
                <label class="tykacz-label">{{localize "chlopcy.czyTykaczJestOgraniczonyWCzasie"}}</label>
                <input type="checkbox" name="system.jestCzas" {{#if system.jestCzas}}checked{{/if}}>
                {{#if system.jestCzas}}
                    <label>{{localize "chlopcy.podajCzasTrwania"}}</label>
                    <input type="number" name="system.czasTrwania" value="{{system.czasTrwania}}" min="1">
                    {{#if (ne system.pozostalyCzas 0)}}
                        <div class="osiagi-tykacza">
                            <label class="tykacz-label">{{localize "chlopcy.pozostalyCzasTykacza"}}</label>
                            <input type="number" name="system.pozostalyCzas" value="{{system.pozostalyCzas}}" min="1">
                        </div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="przeciwnik">
                <label class="tykacz-label">{{localize "chlopcy.tykaczJestPrzeciwnikiem"}}</label>
                <input type="checkbox" name="system.jestPrzeciwnikiem" {{#if system.jestPrzeciwnikiem}}checked{{/if}}> 
            </div>
            <div class="osiagi-tykacza">
                <label class="tykacz-label">{{localize "chlopcy.podajOsiagiTykacza"}}</label>
                <input type="number" name="system.osiagi" value="{{system.osiagi}}" min="2">
            </div>
            {{#if (ne system.pozostaleOsiagi 0)}}
                <div class="osiagi-tykacza">
                    <label class="tykacz-label">{{localize "chlopcy.pozostaleOsiagiTykacza"}}</label>
                    <input type="number" name="system.pozostaleOsiagi" value="{{system.pozostaleOsiagi}}" min="1">
                </div>
            {{/if}}
        </div>
        <div class="opis">
            <label class="tykacz-label">{{localize "chlopcy.opisTykacza"}}</label>
            {{editor system.opis target="system.opis"  engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
    </div>
    <button class="uruchom-tykacz" id="{{actor._id}}">
        <label for="uruchom-tykacz">{{localize "chlopcy.uruchomTykacz"}}</label>
    </button>
</form>