<div class="checha-chcek-box">
    <input type="checkbox" class="cecha-wartosc" name="system.cechy.${{cecha}}" value=1 {{#if (gte wartosc 1)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc" name="system.cechy.${{cecha}}" value=2 {{#if (gte wartosc 2)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc" name="system.cechy.${{cecha}}" value=3 {{#if (gte wartosc 3)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc" name="system.cechy.${{cecha}}" value=4 {{#if (gte wartosc 4)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc" name="system.cechy.${{cecha}}" value=5 {{#if (gte wartosc 5)}}checked{{/if}}>
    <input type="checkbox" class="cecha-wartosc" name="system.cechy.${{cecha}}" value=6 {{#if (gte wartosc 6)}}checked{{/if}}>
</div>