<div class="nowe-szlify">
    <div class="label-tagi">
        <div class="tagi">{{localize ("chlopcy.tagi")}}</div>
        <div class="label-poziom-tagu">{{localize ("chlopcy.przerzut_KB")}}</div>
        <div class="label-poziom-tagu">{{localize ("chlopcy.przerzut_KM")}}</div>
        <div class="label-poziom-tagu">{{localize ("chlopcy.dodatkowa_KM")}}</div>
        <div class="label-poziom-tagu">{{localize ("chlopcy.plus_minus_1")}}</div>
        <div class="label-poziom-tagu">{{localize ("chlopcy.dodatkowy_bonus")}}</div>
    </div>
    <div class="nazwy-tagow">
        <input type="text" class="tag-input" name="system.tagi.noweSzlify1.opis" value="{{system.tagi.noweSzlify1.opis}}" data-tooltip="{{localize "chlopcy.tagi.noweSzlify"}}">
        <input type="text" class="tag-input" name="system.tagi.noweSzlify2.opis" value="{{system.tagi.noweSzlify2.opis}}" data-tooltip="{{localize "chlopcy.tagi.noweSzlify"}}">
        <input type="text" class="tag-input" name="system.tagi.noweSzlify3.opis" value="{{system.tagi.noweSzlify3.opis}}" data-tooltip="{{localize "chlopcy.tagi.noweSzlify"}}">
    </div>
</div>