<div class="nowe-szlify">
    <div class="label-tagi">
        <label class="tagi">{{localize "chlopcy.nowe_szlify.etykieta"}}</label>
        <label class="label-poziom-tagu">{{localize "chlopcy.przerzut_KB"}}</label>
        <label class="label-poziom-tagu">{{localize "chlopcy.przerzut_KM"}}</label>
        <label class="label-poziom-tagu">{{localize "chlopcy.dodatkowa_KM"}}</label>
        <label class="label-poziom-tagu">{{localize "chlopcy.plus_minus_1"}}</label>
        <label class="label-poziom-tagu">{{localize "chlopcy.dodatkowy_bonus"}}</label>
    </div>
    <div class="tagi-dane nowe-szlify">
        <div class="nazwy-tagow  nowe-szlify">
            <input type="text" class="tag-input" name="system.tagi.noweSzlify1.opis" value="{{system.tagi.noweSzlify1.opis}}" data-tooltip="{{localize "chlopcy.tagi.noweSzlify"}}">
            <input type="text" class="tag-input" name="system.tagi.noweSzlify2.opis" value="{{system.tagi.noweSzlify2.opis}}" data-tooltip="{{localize "chlopcy.tagi.noweSzlify"}}">
            <input type="text" class="tag-input" name="system.tagi.noweSzlify3.opis" value="{{system.tagi.noweSzlify3.opis}}" data-tooltip="{{localize "chlopcy.tagi.noweSzlify"}}">
        </div>
        <div class="tagi-boxy">
            {{> "systems/chlopcy/tameplates/actor/tab/tagi-check-box.hbs" wartosc = system.tagi.noweSzlify1 cecha="noweSzlify1"}}
            {{> "systems/chlopcy/tameplates/actor/tab/tagi-check-box.hbs" wartosc = system.tagi.noweSzlify2 cecha="noweSzlify2"}}
            {{> "systems/chlopcy/tameplates/actor/tab/tagi-check-box.hbs" wartosc = system.tagi.noweSzlify3 cecha="noweSzlify3"}}
       </div>
    </div>
</div>