<div class="pyłek-label">
    <input type="checkbox" class="uzycie-pylku" name="system.pod_wplywem_pylku" id="uzycie_pylku" {{#if system.pod_wplywem_pylku}}checked{{/if}} hidden>
    
    {{#if system.pod_wplywem_pylku}}
        <label for="uzycie_pylku" class="pod_wplywem_pylku" data-tooltip="{{localize "chlopcy.koniec_dzialania_pylku"}}">
            {{localize "chlopcy.pod_wpływem_pylku"}}
        </label>
    {{else}}
        <label for="uzycie_pylku" data-tooltip="{{localize "chlopcy.uzyj_pylku"}}" data-action="roll-dice">
            {{localize "chlopcy.pylek"}}
        </label>
    {{/if}}
</div>



<div class="kostki-pulku">
<div class="przytkanie">
    <div class="kostki">
        <input type="checkbox" class="kostki-pyłek jeden" name="system.pylek.1" id="1"  {{#if system.pylek.[1]}}checked{{/if}} >
        <label class="inside" id="1">1</label>        
        <input type="checkbox" class="kostki-pyłek dwa" id="2" name="system.pylek.2"  {{#if system.pylek.[2]}}checked{{/if}} >
        <label class="inside"  id="2">2</label> 
    </div>
        <label class="efekt-pyłku">{{localize "chlopcy.przytkanie"}}</label>
</div>
<div class="krwawienie">
    <div class="kostki">
        <input type="checkbox" class="kostki-pyłek trzy" id="3" name="system.pylek.3"  {{#if system.pylek.[3]}}checked{{/if}} >
         <label class="inside"  id="3">3</label> 
        <input type="checkbox" class="kostki-pyłek cztery" id="4" name="system.pylek.4"  {{#if system.pylek.[4]}}checked{{/if}} >
         <label class="inside"  id="4">4</label> 
    </div>
        <label class="efekt-pyłku">{{localize "chlopcy.krwawienie"}}</label>
</div>
<div class="odciecie">
    <div class="kostki">
        <input type="checkbox" class="kostki-pyłek pięć" id="5" name="system.pylek.5"  {{#if system.pylek.[5]}}checked{{/if}} >
         <label class="inside"  id="5">5</label> 
        <input type="checkbox" class="kostki-pyłek sześć" id="6" name="system.pylek.6" {{#if system.pylek.[6]}}checked{{/if}} >
         <label class="inside"  id="6">6</label> 
    </div>
        <label class="efekt-pyłku">{{localize "chlopcy.odciecie"}}</label>
</div>
</div>