<div class="zegar">
    <div class="nazwa-zegar">
        <h1>{{tykacz.name}}
            {{#if (isUserGM)}}
                <i class="fas fa-window-close"></i></h1>
            {{/if}}        
    </div>
     {{#if tykacz.system.jestCzas}}
    <div class="czas-trwania">
        <label class="czas-trwania-label">{{localize "chlopcy.tykaczapp.czasTrwaniaTykacza"}}</label>       
        <input class="czas-trwania-input" value="{{czasZegar}}" disabled>
        {{#if (isUserGM)}}
            <i class="fa fa-minus czas" data-tooltip="{{localize "chlopcy.tykaczapp.zmiejsszCzas"}}"></i>
        {{/if}}   
    </div>
    {{/if}}
        <div class="osiagi">
        <label class="osiagi-label">{{localize "chlopcy.tykaczapp.osiagiTykacza"}}</label>
        {{#if (isUserGM)}}
            <i class="fa fa-plus osiagi" data-tooltip="{{localize "chlopcy.tykaczapp.zwiększ"}}"></i>
        {{/if}} 
        <input class="osiagi-input" value="{{osiagiZegar}}" disabled>
        {{#if (isUserGM)}}
            <i class="fa fa-minus osiagi" data-tooltip="{{localize "chlopcy.tykaczapp.zmiejssz"}}"></i>
        {{/if}}        
    </div>
    </div>
</div>