<div class='dodatkowa-KM'>
  <div class='naglowek-dodatkowa-km'>
    <label> {{localize 'chlopcy.dialog.przerzut_wielku_KM'}}</label><br />
    <label>{{localize
        'chlopcy.dialog.kliknij_na_kosc_ktora-chcesz-przerzucic'
      }}</label>
  </div>
  <div class='KM-do-przerzutu'>
    <label>{{localize 'chlopcy.dialog.pierwsza_KM'}}</label>
    <div class='dice-display'>
      <i class='fas fa-dice-{{formulaKM}}' title='{{formulaKM}}'></i>
    </div>
    <label>{{localize 'chlopcy.dialog.druga_KM'}}</label>
    <div class='dice-display'>
      <i class='fas fa-dice-{{formulaDKM}}' title='{{formulaDKM}}'></i>
    </div>
  </div>
</div>