<div class="naglowek-dodatkowa-km">
  {{localize "chlopcy.dialog.wybierzTykaczDoModyfikacji"}}
</div>
<select class="wybierz-tykacz">
  {{#each tykaczArray as |tykacz|}}
    <option
      value="{{@index}}"
      data-tykacz="{{tykacz.data.tykacz._id}}"
      data-id="{{tykacz.element.id}}"
    >{{tykacz.data.tykacz.name}}</option>
  {{/each}}
</select>