<div class="RDT">
    <div class="wynik">
        <h2>{{osiagi}}</h2>
    </div>
    {{#if (ne rollingData.przedmiot "")}}
        {{#if (range RDT 8 12)}}
            <div class="użyty_przedmiot">
                <label class="przedmiot">{{rollingData.przedmiot}}{{localize "chlopcy.czat.zapewnia_dodatkowe_osiągi_w_liczbie"}} {{rollingData.dodatkoweOsiagi}}</label>
            </div>
        {{else}}
            <div class="użyty_przedmiot">
                <label class="przedmiot">{{localizeWithParams "chlopcy.czat.nie_zdobyto_osiagow_przedmiot_nie_pomogl" przedmiot=rollingData.przedmiot}}</label>
            </div>
        {{/if}}
    {{/if}}
    {{#if (eq KM 0)}}
    <div class="wyniki-KB">
        <label class="label-KB">{{tekstKB}}</label>
        <p class="rzut-kb">{{KB}}</p>
    </div>
    {{/if}}
    {{#if (ne KM 0)}}
        <div class="wyniki-KB">
            <label class="label-KB">{{tekstKB}}</label>
            <p class="rzut-kb">{{KB}}</p>
        </div>
        <div class="wyniki-KM">
            <label class="label-KB">{{tekstKM}}</label>
            <p class="rzut-kb">{{KM}}</p>
        </div>
        {{#if (ne rollingData.DKM 0)}}
        <div class="wyniki-dodatkowaKM">
            <label class="label-KB">{{tekstDKM}}</label>
            <p class="rzut-kb">{{DKM}}</p>
        </div>
        {{/if}}
    {{/if}}
    {{#if (eq rollingData.plusMinus1 true)}}
         <div class="wyniki-modyfikacja1">
            <label class="label-KB">{{localize "chlopcy.czat.uzytoTagPlusMinus1"}}</label>
        </div>
    {{/if}}
    <div class="wyniki-RTD">
            <label class="label-KB">{{localize "chlopcy.czat.wynik_RDT"}}</label>
            <p class="rzut-kb">{{RDT}}</p>
    </div>
    {{#if (ne uzyteWiezi undefined)}}
        {{> "systems/chlopcy/tameplates/chat/partial/uzyte-wiezi.hbs" uzyteWiezi=uzyteWiezi}}
    {{/if}}
    

        {{#if (eq KM 0)}}
        
            <h3 class="KM-cechy">{{localize "chlopcy.czat.dostepne_KM"}} {{rollingData.cecha}}</h3>
                <div class="modyfikatory-cechy">
                    {{> "systems/chlopcy/tameplates/chat/partial/cecha-dice.hbs"}}
                </div>
        {{/if}}
         

            {{#if (and (ne rollingData.tag "") (ne rollingData.wartoscTagu 0))}}
                <h3 class="mod-tagu">{{localize "chlopcy.czat.mod_tagu"}}{{rollingData.tag}}</h3>
                <div class="mod-z-tagu">
                    {{> "systems/chlopcy/tameplates/chat/partial/tag-mod.hbs"}}
                </div>
            {{/if}}
           
        {{#czywiezi rollingData}}
        {{/czywiezi}}   
        {{#czyextraXP rollingData}}
        {{/czyextraXP}} 
</div>